[Unit]
Description=Deploy Caddy Reverse Proxy via Docker Compose
Requires=docker.service
After=docker.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/srv/docker/caddy
ExecStartPre=/bin/sleep 10
ExecStart=/opt/bin/docker-compose up -d
ExecStop=/opt/bin/docker-compose down
TimeoutStartSec=300
Restart=on-failure
RestartSec=30
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
