[Unit]
Description=NFS mount for shared storage (fallback)
After=network-online.target
Wants=network-online.target

[Mount]
What=192.168.100.38:/mnt/nfs_shared
Where=/mnt/nfs_shared
Type=nfs4
Options=rw,fsc,noatime,vers=4.2,proto=tcp,rsize=1048576,wsize=1048576,soft,timeo=100,retrans=5,_netdev

[Install]
WantedBy=multi-user.target
