[Unit]
Description=NFS mount for movies from rpool/shared on reginald
Requires=network-online.target mnt-media.mount
After=network-online.target mnt-media.mount
Before=docker.service media-stack-compose.service

[Mount]
What=192.168.200.4:/rpool/shared/media/movies
Where=/mnt/media/movies
Type=nfs4
Options=rw,relatime,vers=4.2,rsize=1048576,wsize=1048576,namlen=255,hard,proto=tcp,timeo=600,retrans=2,sec=sys,_netdev
TimeoutSec=300

[Install]
WantedBy=multi-user.target
