{
	email admin@disconnesso.com
	admin :2019
}

*.home.disconnesso.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1 1.0.0.1 8.8.8.8
	}

	import sites/*.caddy

	# Catch-all for undefined subdomains
	handle {
		respond "Not Found" 404
	}
}
